<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="Conexion" connectionString="metadata=rzes://*/ModeloBD.csdl|res://*/ModeloBD.ssdl|res://*/ModeloBD.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=pacorivera2009;password=peluchin1994;database=bdcasaprestamos;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="Conexion" connectionString="metadata=res://*/ModeloBD.csdl|res://*/ModeloBD.ssdl|res://*/ModeloBD.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;password=peluchin1994;database=bdcasaprestamos;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="Conexion" connectionString="metadata=res://*/ModeloBD.csdl|res://*/ModeloBD.ssdl|res://*/ModeloBD.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=hugriba.2017;database=bdcasaprestamos&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Conexion" connectionString="metadata=res://*/ModeloBD.csdl|res://*/ModeloBD.ssdl|res://*/ModeloBD.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.71;user id=cliente;password=hugriba.2017;database=bdcasaprestamos&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
